/* Yleiset tyylit */
body {
    color: #2C3E50;
    background-color: #F4EAD5;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    margin: 0;
}

h1, h2, h3, p {
    color: #2C3E50;
}
.esittely {
    text-align: center;
}
.grid-teksti1 {
    text-align: center;
}
.grid-teksti2 {
    text-align: center;
}
.grid-teksti1 p {
    text-align: center;

}
.grid-teksti2 p {
    text-align: center;
}

/* Navbarin tyylit */
nav {
    background-color: #060607;
    padding: 0.9% 0.9%;
    top: 0%;
    position: absolute;
    width: 98%;
    text-align: center;
}

nav a {
    color: #FFF;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 5px;  
}

nav a:hover {
    background-color: #90959a;
    opacity: 0.7;
}

/* Etusivun ja tuotesivun taustakuvan tyylit */
#etusivu,
#alisivut {
    background-image: url('kurkumatuotteetsivu.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
}

#etusivu {
    background-image: url('kurkuma.jpg');
}

/* Tuotteiden koot responsiivisesti */
.product {
    width: 90%; /* Tuotteen leveys 90% näytöstä */
    max-width: 400px; /* Maksimileveys 400px */
    margin: 20px auto; /* Keskitetään sivulle ja lisätään välistystä ylä- ja alapuolelle */
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

.product img {
    width: 100%; /* Kuvan leveys 100% tuotteen leveydestä */
    height: auto; /* Automaattinen korkeus, jotta kuva ei vääristy */
}

.product h3 {
    margin-top: 10px;
    font-size: 18px;
}

.product p {
    margin-top: 5px;
    font-size: 16px;
}

.product a {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    background-color: #007bff;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button {
    background-color: #030809; /* Vihreä väri */
    color: white; /* Valkoinen teksti */
    padding: 15px 20px; /* Lisätään sisätilaa */
    border: none; /* Poistetaan reuna */
    border-radius: 5px; /* Pyöristetään kulmat */
    cursor: pointer; /* Osoitin muuttuu käsiksi */
    font-size: 16px; /* Tekstin koko */
    transition: background-color 0.3s; /* Lisätään siirtymä */
}

button:hover {
    background-color: #000400; /* Tummempi vihreä väri hover-tilassa */
}


/* Responsiiviset tyylit */
@media (max-width: 600px) {
    .product {
        width: 90%; /* Tuotteen leveys 90% näytöstä */
    }
}

#slogan {
    color: #fcfcfc; /* Tekstin väri */
    font-size: 50px; /* Fontin koko */
    text-shadow: 4px 4px black; /* Tekstin varjostus */
    text-align: center; /* Tekstin keskitys */
    padding-top: 30px; /* Yläreunan tyhjä tila */
}

/* Cardin tyylit */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    font-family: Arial, sans-serif;
}

.card img {
    width: 80%;
    max-width: 300px;
}

.lue-lisaa {
    color: rgb(15, 1, 1);
    font-size: 35px;
    text-align: center;
}

.card button {
    border: 2px solid rgba(87, 54, 4);
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 80%;
    font-size: 15px;
}

.card button:hover {
    opacity: 0.7;
}

.kuva {
    width: 20%;
}

/* Gridin tyylit */
figure {
    border: 2px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    margin: 20px auto;
    width: 300px;
}

img.kuva {
    width: 100%;
    display: block;
}

figcaption {
    text-align: right;
    padding: 10px;
}

/* Footerin tyylit */
footer {
    background-color: #F4EAD5;
    padding: 20px;
    text-align: center;
}

footer div {
    margin-bottom: 10px;
}

footer a {
    color: #333;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    color: #666;
}

footer p {
    color: #666;
    margin: 0;
}

/* Sosiaalisen median ikonien tyylit */
footer a i.fa-facebook,
footer a i.fa-instagram {
    color: black;
    font-size: 30px;
    padding: 10px;
}

/* Lisätään ympyrän ympärille */
footer a i.fa-facebook,
footer a i.fa-instagram {
    border-radius: 50%;
    background-color: #F4EAD5;
    padding: 15px;
}

/* Responsiiviset tyylit */
@media (max-width: 600px) {
    nav a { 
        font-size: 15px;
        width: 100px;
        height: 20px;
        padding: 7px;
        margin: 3px 5px;
    }

    #slogan {
        font-size: 35px;
        padding: 20px;
    }

    .sisalto {
        margin: 3% 10% 3% 10%;
    }

    h1 {
        font-size: 25px;
    }

    .esittely {
        font-size: 18px;  
    }

    .kuva {
        width: 20%;
    }
}

