body {
    background-color: #ab7208;
}
h1{
    color: rgb(170, 218, 157);
    font-family: 'Quicksand';font-size: 22px;
}
*{
    margin:0;
    padding:0; 
}
.container{
    width: 100%;
    height: 100vh;

}
.navbar{
    text-align: center;
    flex: 1;
}
.navbar a{
    padding: 6px 20px;
    text-decoration: none;
    color: white;
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;
}
.btn{
    cursor: pointer;
    color: #cc0052; 
    font-size: 18px;
    letter-spacing: 2px;
    padding: 10px 30px;
    border: 2px solid #003333;
    background: transparent;
    text-decoration: none;
    text-align: center ;
    font-weight: bold;
    margin: 40px 8px;
}
    .kuva {
        width: 100%;
        height: auto;
        opacity: o.3;
    
    
    
}
